<!DOCTYPE html>
<html ng-app="listApp">
<head>
    <title></title>
    <script src="https://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script>
        var listApp = angular.module('listApp', []);
        listApp.controller('listCtrl', function($scope) {

            $scope.persons = [{'firstName':'foo', 'lastName':'bar'}];

            $scope.addPerson = function() {
                $scope.persons.push({
                  firstName:$scope.firstName,
                  lastName:$scope.lastName,
                  phoneNumber:$scope.phoneNumber,
                  emailAddress:$scope.emailAddress
                });
            }
        });
    </script>

</head>
<body ng-controller="listCtrl">
    <p>Nothing here {{'yet' + '!'}}</p>
    <div>
        <table>
            <thead>
                <th>First name</th>
                <th>Last name</th>
                <th>Phone number</th>
                <th>Email address</th>
            </thead>
            <tr ng-repeat="person in persons">
               <td>{{person.firstName}}</td>
                <td>{{person.lastName}}</td>
                <td>{{person.phoneNumber}}</td>
                <td>{{person.emailAddress}}</td>
            </tr>
        </table>
    </div>
    <div>
        <input type="button" value="Edit" />
        <input type="button" value="Delete" />
        <input type="button" value="New" ng-click="addPerson()" />
    </div>
    <div>
        <table>
            <tr>
                <td>First name</td>
                <td>Last name</td>
            </tr>
            <tr>
                <td>
                    <input type="text" ng-model="firstName" />
                </td>
                <td>
                    <input type="text" ng-model="lastName" />
                </td>
            </tr>
            <tr>
                <td>Phone number</td>
                <td>Email address</td>
            </tr>
            <tr>
                <td>
                    <input type="text" ng-model="phoneNumber" />
                    <input type="text" ng-model="emailAddress" />
                </td>
            </tr>
        </table>
    </div>
    <div>
        <input type="button" value="Save" />
        <input type="button" value="Cancel" />
    </div>
</body>
</html>

