<!DOCTYPE html>
<html ng-app="listApp">
<head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<title>Address Book</title>
<script src="https://code.angularjs.org/1.2.9/angular.min.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script>
	var listApp = angular.module('listApp', []);
	listApp.controller('listCtrl', function($scope, $http) {

		

		var selectedPerson = null;

		$scope.addPerson = function() {
			deselectAll();
			var person = {
				id : null,
				firstName : '',
				lastName : '',
				phone : '',
				email : ''
			};

			selectedPerson = person;
			$scope.editSelected();
		};
		
		$scope.refreshData = function() {
			$http.get('/findAll').success(function(data) {
				$scope.persons = data;
			});
		};
		
		$scope.savePerson = function() {
			var person = {
				id : $scope.id,
				firstName : $scope.firstName,
				lastName : $scope.lastName,
				phone : $scope.phone,
				email : $scope.email
			};
			

			$http.post('/savePerson', person).success(function(data, status, headers, config) {
				if(person.id == null) {
					$scope.persons.push(data);
				} else {
					$scope.refreshData();
				}
				deselectAll();
			});
		};
		
		$scope.deleteSelected = function() {
			$http.post('/removePerson', selectedPerson.id).success(function(data, status, headers, config) {
				selectedPerson = null;
				$scope.refreshData();
			});
		}

		var deselectAll = function() {
			selectedPerson = null;

			$scope.id = null;
			$scope.firstName = "";
			$scope.lastName = "";
			$scope.phone = "";
			$scope.email = "";
		}

		$scope.editSelected = function() {
			if (selectedPerson != null) {
				$scope.id = selectedPerson.id;
				$scope.firstName = selectedPerson.firstName;
				$scope.lastName = selectedPerson.lastName;
				$scope.phone = selectedPerson.phone;
				$scope.email = selectedPerson.email;
			}
		}

		$scope.select = function(personId) {
			var person = _.findWhere($scope.persons, {id: personId});
			var selected = person == selectedPerson && person != null;
			
			deselectAll();

			if (!selected) {
				selectedPerson = person;
				$scope.editSelected();
			}
		};

		$scope.noPersonIsSelected = function() {
			return selectedPerson == null;
		};
		
		$scope.getSelectionStyleName = function(index) {
			if(selectedPerson == null) return '';
			if(selectedPerson == $scope.persons[index]) return 'selected';
			return '';
		};
		
		$scope.discardChanges = function() {
			deselectAll();
		};
		
		$scope.refreshData();
	});
</script>
<style type="text/css">
html,body {
	height: 100%;
	width: 100%;
}

#table {
	width: 100%;
	height: 50%;
	overflow: scroll;
}

#table table {
	width: 100%;
}

#form {
	width: 100%;
	height: 50%;
	border-top: solid 1px #000000;
}

#form table {
	width: 100%;
}

#form td input {
	width: 100%;
}

#form td {
	box-sizing: border-box;
	padding: 3px 10px;
}

.even {
	background-color: white;
}

.odd {
	background-color: #eeeeee;
}

.selected {
	background-color: #d8d8d8;
}
</style>
</head>
<body ng-controller="listCtrl">
	<div id="table">
		<table class="table table-hover">
			<thead>
				<th>First name</th>
				<th>Last name</th>
				<th>Phone number</th>
				<th>Email address</th>
			</thead>
			<tr ng-repeat="person in persons" ng-class-even="'even'"
				ng-class-odd="'odd'" 
				ng:class="getSelectionStyleName($index)"
				ng-click="select(person.id)">
				<td>{{person.firstName}}</td>
				<td>{{person.lastName}}</td>
				<td>{{person.phone}}</td>
				<td>{{person.email}}</td>
			</tr>
		</table>
		<div>
			<input class="btn btn-sm btn-default" type="button" value="Edit" ng-disabled="noPersonIsSelected()" ng-click="editSelected()" /> 
			<input class="btn btn-sm btn-default" type="button" value="Delete"	ng-disabled="noPersonIsSelected()" ng-click="deleteSelected()" /> 
			<input class="btn btn-sm btn-default" type="button" value="New" ng-click="addPerson()" />
		</div>
	</div>
	<div id="form">
		<table>
			<tr>
				<td width="30%">First name</td>
				<td width="70%">Last name</td>
			</tr>
			<tr>
				<td><input type="text" ng-model="firstName" /></td>
				<td><input type="text" ng-model="lastName" /></td>
			</tr>
			<tr>
				<td>Phone number</td>
				<td>Email address</td>
			</tr>
			<tr>
				<td><input type="text" ng-model="phone" /></td>
				<td><input type="text" ng-model="email" /></td>
			</tr>
		</table>
		<div>
			<input type="button" value="Save" 
				ng-click="savePerson()" 
				class="btn btn-sm btn-primary"
				ng-disabled="noPersonIsSelected()" /> 
				
			<input type="button" value="Cancel" 
				ng-click="discardChanges()" 
				class="btn btn-sm btn-link"
				ng-disabled="noPersonIsSelected()" />
		</div>
	</div>
	
	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>

